<header class="header-top bg-grey justify-content-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-2 col-md-4 text-center d-none d-lg-block">
            <a class="navbar-brand " href="index.html">
              <img src="assets/front/images/logo esprit.png" alt="" class="img-fluid">
            </a>
        </div>
  
        <div class="col-lg-8 col-md-12">
          <nav class="navbar navbar-expand-lg navigation-2 navigation">
            <a class="navbar-brand text-uppercase d-lg-none" href="#">
              <img src="assets/front/images/logo esprit.png" alt="" class="img-fluid">
            </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
              </button>
  
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul id="menu" class="menu navbar-nav mx-auto">
                        
                            <a class="nav-link dropdown-toggle" routerLink="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Home
                            </a>
                        <li class="nav-item"><a routerLink="list" class="nav-link" >Universities</a></li>
                        
                        
                        <li class="nav-item"><a routerLink="test" class="nav-link">Contact</a></li>
                        <li class="nav-item"> <a routerLink="/back" class="nav-link">Go to back</a> </li>
                        
                    </ul>
                   
                    <ul class="list-inline mb-0 d-block d-lg-none">
                      <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="ti-pinterest"></i></a></li>
                    </ul>
                </div>
            </nav>
          </div>
  
          <div class="col-lg-2 col-md-4 col-6">
            <div class="header-socials-2 text-right d-none d-lg-block">
              <ul class="list-inline mb-0">
                <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="ti-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </header>
  
     
  <section class=" mt-4">
    <img src="assets/front/images/news/universite.jpg" height="200px" alt=" " class="w-100 img-fluid">
</section>

  <router-outlet></router-outlet>

  
  <section class="footer-2 section-padding gray-bg pb-5">
      <div class="container">
          <div class="row justify-content-center">
           
          </div>
  
          <div class="footer-btm mt-5 pt-4 border-top">
              <div class="row">
                 
              </div>
              <div class="row justify-content-center">
                  <div class="col-lg-6">
                      <div class="copyright text-center ">
                          @ copyright all reserved to <a href="https://themefisher.com/">Esprit.tn</a>-2023
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>	