<!--<mat-select [(ngModel)]="selectedType">
  <option *ngFor="let type of chambreTypes" [ngValue]="type">{{ type }}</option>
</mat-select>

<mat-select [(ngModel)]="selectedType">
  <option *ngFor="let type of chambreTypes" [ngValue]="type">{{ type }}</option>
</mat-select>


<input type="text" [(ngModel)]="cinValue" placeholder="Enter Cin" />




<tr *ngFor="let reservation of reservations">
  <td class="py-0">
    <img src="../../../assets/back/images/1912.png" alt="Product Image">
  </td>
  <td>{{reservation.anneeUniversitaire}}</td>
  <td>{{reservation.estValide}}</td>
 <input [(ngModel)]="cinValue" >
  -->

<form #reservationForm="ngForm" (ngSubmit)="saveReservation2(chambreType.value, cinInput.value)">
  <table class="table-container">
    <tr>
      <td>
        select type
      </td>
      <td>
        <select name="chambreType" #chambreType="ngModel" ngModel required>
          <option value="" disabled>Select Type</option>
          <option *ngFor="let type of roomTypes" [value]="type">{{ type }}</option>
        </select>

        <div *ngIf="chambreType.invalid && (chambreType.dirty || chambreType.touched)">
          <small *ngIf="chambreType.errors?.['required']">Type is required.</small>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        enter cin
      </td>
      <td>
        <input type="number" placeholder="Enter Cin" name="cinInput" #cinInput="ngModel" ngModel pattern="[0-9]*" required/>
        <div *ngIf="cinInput.invalid && (cinInput.dirty || cinInput.touched)">
          <small *ngIf="cinInput.errors?.['required']">CIN is required.</small>
          <small *ngIf="cinInput.errors?.['pattern']">Please enter numbers only.</small>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit" class="custom-button">Add Reservation</button>
      </td>
    </tr>
  </table>
</form>








<script>
      // Convert the JavaScript object to a JSON string
      let etudiantJSON = JSON.stringify(etudiant);

      // Save the JSON string in the local storage under the key "etudiantData"
      localStorage.setItem("etudiantData", etudiantJSON);

      // Retrieve the etudiant data from local storage
      let retrievedEtudiantJSON = localStorage.getItem("etudiantData");

      // Convert the JSON string back to a JavaScript object
      let retrievedEtudiant = JSON.parse(retrievedEtudiantJSON);

      // Now, retrievedEtudiant contains the stored etudiant object
      console.log(retrievedEtudiant);
</script>

<!--
<select [(ngModel)]="selectedType">
  <option *ngFor="let t of chambreTypes" [ngValue]="t"> {{t}} </option>
</select>





  <form (ngSubmit)="onSubmit()" >
    <label for="idReservation">Reservation ID:</label>
    <input type="number" id="idReservation" name="idReservation" [(ngModel)]="reservation.idReservation" required>

    <label for="anneeUniversitaire">Academic Year:</label>
    <input type="date" id="anneeUniversitaire" name="anneeUniversitaire" [(ngModel)]="reservation.anneeUniversitaire" required>

    <label for="estValide">Valid:</label>
    <input type="checkbox" id="estValide" name="estValide" [(ngModel)]="reservation.estValide">

    <button type="submit">Add Reservation</button>
  </form>-->
<!--
  <div *ngIf="res">
    Display reservation information here
    <p>ID: {{ reservation.idReservation }}</p>
    <p>Academic Year: {{ reservation.anneeUniversitaire }}</p>
    <p>Valid: {{ reservation.estValide }}</p>
     Other reservation details -->

    <!-- QR Code Generation -->
   <!--  <ngx-qrcode [qrc-value]="qrData" [qrc-element-type]="'url'"></ngx-qrcode>
  </div>-->
<!--
  <div *ngFor="let chambre of chambres">
     Display chambre details as needed
    <p>ID: {{ chambre.idChambre }}</p>
    <p>Number: {{ chambre.numeroChambre }}</p>-->
    <!-- Other chambre details
  </div> -->
<!--
  <table>
  <tr *ngFor="let chambre of chambres">
    <td class="py-0">
    </td>
    <td>ID: {{ chambre.idChambre }}</td>
    <td>Number: {{ chambre.numeroChambre }}</td>
  </table>


  <form (ngSubmit)="onSubmit()">
     Other form fields
    <input type="number" [(ngModel)]="" name="chambreId">
    <button type="submit">Submit</button>
</form>-->
