<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE TITLE -->
    <title>UPGRADE &#8211; Interior Design, Construction & Repair Services Template</title>
    <!-- FAVI ICON -->
    <link rel="icon" type="image/png" href="./assets/images/favi.png" sizes="32x32">
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <!-- ALL GOOGLE FONTS -->
    <link href="../../../css?family=Montserrat:400,700|Lato:300,400,700,900" rel="stylesheet">
    <!-- FONT AWESOME CSS -->
    <link rel="stylesheet" href="./assets/fonts/linear-fonts.css">
    <link rel="stylesheet" href="./assets/fonts/font-awesome.css">
    <!-- OWL CAROSEL CSS -->
    <link rel="stylesheet" href="./assets/owlcarousel/css/owl.carousel.css">
    <link rel="stylesheet" href="./assets/owlcarousel/css/owl.theme.css">
    <!-- LIGHTBOX CSS -->
    <link rel="stylesheet" href="./assets/css/lightbox.min.css">
    <!-- MAGNIFIC CSS -->
    <link rel="stylesheet" href="./assets/css/magnific-popup.css">
    <!-- ANIMATE CSS -->
    <link rel="stylesheet" href="./assets/css/animate.min.css">
    <!-- MAIN STYLE CSS -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- RESPONSIVE CSS -->
    <link rel="stylesheet" href="./assets/css/responsive.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    function showSubServices(serviceId) {
 fetch(`/sousservices/${serviceId}`)
        .then(response => response.text())
        .then(html => {
            document.querySelector('#subservices-container').innerHTML = html;
        });
    }
</script>

</head>

<body>
 

            {% for service in sservices %}
            <!-- START SINGLE SERVICES DESIGN AREA -->
            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s"  id="service{{ service.getServiceId() }}">
                <div class="single-service" onclick="showSubServices({{ service.getServiceId()  }})">
					<span >
                    </span>
                    <div class="text-center">
            <h4>test</h4>
        </div>
            <p>test</p>
        
                </div>
            </div>
            <!-- / END SINGLE SERVICES DESIGN AREA -->
            {% endfor %}
   
<!-- / END SERVICES DESIGN AREA -->
    <div id="subservices-container"></div>


</body>

</html>